* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.link-header {
    display: flex;
    justify-content: space-between;
}

.paragraph-head {
    width: 425px;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.heading {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.heading2-ct {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    font-size: 36px;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
}

.sth-card {
    display: flex;
    margin: 5px;
    flex-direction: column;
    width: 359px;
    justify-content: center;
    border: 1px solid #000;
}

.heading3 {
    font-size: 36px;
    text-align: center;
}

.footer-h3 {
    width: 495px;
}

.footer-heading3 {
    width: 340px;
}

.footer-info-num-mail {
    display: flex;
    justify-content: space-around;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.middle__block {
    display: flex;
    justify-content: space-around;
}

.middle__block-bd {
    border: 1px solid #000;
}

.lstn {
    list-style-type: none;
}